body {
  background-color: #448aff;;
}

.wrapper {
  background-color: rgb(255, 255, 255);
}

.container {
  font-family: 'Poppins', sans-serif;
  max-width: 600px;
}

.container .pie-wrapper {
  width: 60%;
}

#statistics-select-year {
  margin-top: 1px;
}

.timerDisplay {
  font-family: 'Roboto mono', monospace;
  font-size: 40px;
  color: #448aff;
  box-shadow: 0 0 20px rgba(0, 139, 253, 0.25);

}

.navigation-buttons a {
  color: white;
  background-color: #448aff;
}



@media (max-width: 485px) {
  .timerDisplay {
    font-size: 25px;
  }
  
  table {
    font-size: 12px;
  }
}


  