*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #448aff;
    display: flex;
    justify-content: center;
}

.container {
    margin: 50px 0px;
    width: 40%;
    min-width: 500px;
    
    
}

.container .timer {
    background-color: #ffffff;
    padding-top: 20px;
    border-radius: 10px;

}

.container .timestamps, .categories, .content{
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px 10px 30px 10px;
}

/* .container .timestamps table,td,th{
    border: 1px solid #2b2b2b;
    border-collapse: collapse;
    padding: 5px;
} */

/* .categories .categories table, td,th {
    border-bottom: 1px solid #2b2b2b;
} */

tr:nth-child(even) {background-color: #f2f2f2;}

.container table{
    width: 100%;
}

.timerDisplay {
    position: relative;
    width: 92%;
    background: #ffffff;
    left: 4%;
    padding: 40px 0;
    font-family: 'Roboto mono', monospace;
    color: #0381bb;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 139, 253, 0.25);
}

.buttons {
    width: 90%;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: space-around;
}

.buttons button:hover {
    font-size: 20px;
}

.buttons button {
    width: 120px;
    height: 45px;
    background-color: #205e94;
    color: #ffffff;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.buttons button:nth-last-child(2) {
    background-color: #d23332;
}

.buttons button:nth-last-child(1) {
    background-color: #20b380;
}

.form {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
}

.form .category, .form .desc {
    padding: 0px 10px;
}

.timestamps .time, .date {
    text-align: center;
}

.container .navigation-buttons {
    display: flex;
    justify-content: space-between; 
}

.container .nav-but {
    padding: 20px;
}

.container .navigation-buttons a {
    padding: 5px;
    background-color: #448aff;
    color: #ffffff;
    border: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.container .pie-wrapper {
    width: 60%;
}

.container .just-a-test {
    display: flex;
    flex-direction: column;
    align-items: center;
}