<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header('Activity')"></head>

<body>

    <div class="container">
        <div class="wrapper d-flex flex-column p-2 mt-2 rounded">
            <h2>All latest activity:</h2>
            
            <div th:if="${items.isEmpty}">
                none
            </div>

            <div th:unless="${items.isEmpty}" class="timestamp">
                <table class="table table-bordered">
                    <tr>
                        <th>date</th>
                        <th>duration</th>
                        <th>category</th>
                        <th>description</th>
                    </tr>
                    <tr th:each="item : ${items}">
                        <td class="date" th:text="${item.getDate}">
                        <td class="time" th:text="${item.getTime}">
                        <td th:text="${item.category.categoryName}">
                        <td th:text="${item.description}">
                    </tr>
                </table>
            </div>

            <div class="p-2 d-flex justify-content-center">
                <a class="btn btn-outline-primary" href="/">go back to home</a>
            </div>
        </div>

    </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>