<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header('Edit')"></head>

<body>

    <div class="container">
        <div class="wrapper d-flex flex-column p-2 mt-2 rounded">
            <div class="">
                <h2>Edit category</h2>
            </div>
            <div class="py-2">
                <form action="#" th:action="@{/category}" th:object="${edit}" method="POST">
                    <label for="">Category name</label>
                    <input type="hidden" th:field="*{id}">
                    <input type="text"  th:field="*{categoryName}" name="" id="">
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
            </div>
            <div class="p-2 d-flex justify-content-center">
                <a class="btn btn-outline-primary" href="/category">go back</a>
            </div>
        </div>

    </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>