<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header('Category')"></head>

<body>

    <div class="container d-flex flex-column justify-content-center">
        <div class="wrapper d-flex flex-column p-2 mt-2 rounded">
            <h2>Categories</h2>
            <div class="add-category">
                <form action="#" th:action="@{/category}" th:object="${newCat}" method="POST">
                    <label for="">Add new category</label>
                    <input type="text" th:field="*{categoryName}">
                    <button class="btn btn-secondary" type="submit">Add</button>
                </form>
            </div>
            <div th:if="${categories.isEmpty}">
                none
            </div>

            <div th:unless="${categories.isEmpty}">
                <table class="table">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="cat : ${categories}">
                        <td th:text=${cat.id}></td>
                        <td th:text="${cat.categoryName}"></td>
                        <td>
                            <a class="btn btn-danger btn-sm" th:href="@{category/delete/{id}(id=${cat.id})}">Delete</a>
                            <a class="btn btn-primary btn-sm" th:href="@{category/edit/{id}(id=${cat.id})}">Edit</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="p-2 d-flex justify-content-center">
                <a class="btn btn-outline-primary" href="/">go back to home</a>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>