<!DOCTYPE html>
<!-- Design by foolishdeveloper.com -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>javascript simple stopwatch</title>
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto+Mono:wght@700&display=swap"
        rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
    <div class="container">
        <div class="timer">

            <div class="timerDisplay">
                00 : 00 : 00 : 00
            </div>

            <div class="form">
                <div class="category">
                    <label>Category</label>
                    <!-- <input list="categories" name="category" id="cat" size="4"> -->
                    <select name="categories" id="cat">
                        <div th:each="cat : ${categories}">
                            <option th:value="${cat.id}" th:text="${cat.categoryName}"></option>
                        </div>
                    </select>
                </div>
                <div class="desc">
                    <label>Description</label>
                    <input type="text" name="description" id="desc" size="10">
                </div>
            </div>

            <div class="buttons">
                <button id="startAndPauseTimer">Start</button>
                <button id="resetTimer">Reset</button>
                <form action="#" th:action="@{/save}" th:object="${newTime}" method="POST">
                    <input type="hidden" th:field="*{hours}" placeholder="hours" id="formHou">
                    <input type="hidden" th:field="*{minutes}" placeholder="minutes" id="formMin">
                    <input type="hidden" th:field="*{seconds}" placeholder="seconds" id="formSec">
                    <input type="hidden" th:field="*{milliseconds}" placeholder="milliseconds" id="formMil">
                    <input type="hidden" th:field="*{category}" placeholder="category" id="formCat">
                    <input type="hidden" th:field="*{description}" placeholder="description" id="formDes">
                    <input type="date" th:field="*{date}" placeholder="description" id="formDes">
                    <button type="submit" id="formSumbit">Save</button>
                </form>
            </div>
            
            <div class="navigation-buttons">
                <div class="nav-but categories-button">
                    <a href="/category">catagories</a>
                </div>

                <div class="nav-but activity-button">
                    <a href="/allActivity">activity</a>
                </div>
    
                <div class="nav-but statistics-button">
                    <a href="/statistics">statistics</a>
                </div>
            </div>
            

        </div>

        <div class="timestamps">
            <h2>Last activity:</h2>
            <div th:if="${times.isEmpty}">none</div>
            <div th:unless="${times.isEmpty}" class="timestamp">
                <table>
                    <tr>
                        <th>date</th>
                        <th>duration</th>
                        <th>category</th>
                        <th>description</th>
                    </tr>
                    <tr th:each="item, i : ${times}">
                        <div th:if="${i.count < 6}">
                            <td class="date" th:text="${item.date}">
                            <td class="time" th:text="${item.getTime}">
                            <td th:text="${item.category.categoryName}">
                            <td th:text="${item.description}">
                        </div>
                    </tr>
                </table>
                <div th:if="${times.size == 6}">
                    <a href="/allActivity">see all activity</a>
                </div>
            </div>
        </div>


    </div>
    
    <script src="/script/stopwatch.js"></script>
</body>

</html>

<!-- 
h,m,s,ms category, desbrition,  

 -->