<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header('Index')"></head>

<body>
    <div class="container d-flex flex-column justify-content-center">
            <div class="wrapper d-flex flex-column p-2 mt-2 rounded">

                <div class="d-flex justify-content-center pt-2 pb-4 time">
                    <div class="px-3 py-4 rounded timerDisplay">
                        00 : 00 : 00 : 00
                    </div>
                </div>

                <div class="d-flex flex-column justify-content-center timer-form">
                    <div class="d-flex justify-content-center p-1">
                        <label class="px-2">Category</label>
                        <select name="categories" id="cat">
                            <option></option>
                            <div th:each="cat : ${categories}">
                                <option th:value="${cat.id}" th:text="${cat.categoryName}"></option>
                            </div>

                        </select>
                    </div>
                    <div class="d-flex justify-content-center p-1">
                        <label class="px-2" >Description</label>
                        <input type="text" name="description" id="desc" size="10">
                    </div>
                </div>

                <div class="d-flex justify-content-center control-buttons">
                    <div class="p-2">
                        <button class="btn btn-primary" id="startAndPauseTimer">Start</button>
                    </div>
                    <div class="p-2">
                        <button class="btn btn-danger" id="resetTimer">Reset</button>
                    </div>
                    <div class="p-2">
                        <form action="#" th:action="@{/save}" th:object="${newTime}" method="POST">
                            <input type="hidden" th:field="*{hours}" placeholder="hours" id="formHou">
                            <input type="hidden" th:field="*{minutes}" placeholder="minutes" id="formMin">
                            <input type="hidden" th:field="*{seconds}" placeholder="seconds" id="formSec">
                            <input type="hidden" th:field="*{milliseconds}" placeholder="milliseconds" id="formMil">
                            <input type="hidden" th:field="*{category}" placeholder="category" id="formCat">
                            <input type="hidden" th:field="*{description}" placeholder="description" id="formDes">
                            <input type="datetime-local" th:field="*{date}" placeholder="description" id="formDes">
                            <button type="submit" class="btn btn-success" id="formSumbit">Save</button>
                        </form>
                    </div>
                </div>
                    
                    <div class="d-flex justify-content-around p-2 navigation-buttons">
                        <div class="">
                            <a href="/category" class="btn btn-sm">catagories</a>
                        </div>

                        <div class="">
                            <a href="/activity" class="btn btn-sm">activity</a>
                        </div>
            
                        <div class="">
                            <a href="/statistics" class="btn btn-sm">statistics</a>
                        </div>
                    </div>

            </div>

            <div class="wrapper rounded p-2 mt-4">
                <div class="timestamps">
                    <h2>Last activity:</h2>
                    <div th:if="not ${hasContent}">none</div>
                    <div th:unless="not ${hasContent}" class="timestamp">
                        <table class="table table-bordered">
                            <tr>
                                <th>date</th>
                                <th>duration</th>
                                <th>category</th>
                                <th>description</th>
                            </tr>
                            <tr th:each="item, i : ${times}">
                                <div th:if="${i.count < 6}">
                                    <td class="date" th:text="${item.date.toLocalDate()}">
                                    <td class="time" th:text="${item.getTime}">
                                    <td th:if="${item.category} == null">Empty</td>
                                    <td th:unless="${item.category} == null" th:text="${item.category.categoryName}">
                                    <td th:text="${item.description}">
                                </div>
                            </tr>
                        </table>
                        <div th:if="${hasNextPage}">
                            <a href="/activity">see all activity</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>

