<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>javascript simple stopwatch</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto+Mono:wght@700&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>

    <div class="container">
        <div class="wrapper d-flex flex-column p-2 mt-2 rounded">
            <h2>Statistics</h2>
            <div class="">
                <a class="btn btn-outline-primary" href="/">go back home</a>
            </div>

            <div class="py-4">
                    <div class="">
                        <form class="d-flex justify-content-center" action="/statistics/specific" method="get">
                            <div class="px-2">
                                <input type="date" name="dayDate">
                            </div>
                            <input type="hidden" name="week" id="form-week">
                            <input type="hidden" name="year" id="form-year">
                            <button class="btn btn-primary btn-sm" type="submit" id="date-form-submit">change</button>
                        </form>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="pie-wrapper">
                            <canvas id="pie-chart-today"></canvas>
                        </div>
                    </div>
            </div>

            <div class="bar-wrapper">
                <div class="d-flex justify-content-center">

                    <form action="/statistics/specific">
                        <select id="statistics-select-year" name="year" onchange="this.form.submit()">
                            <th:block th:each="year, i : ${years}">
                                <option th:if="${prevYear == year}" th:id="yearSelected" th:value="${year}"
                                    th:text="${year}" selected></option>
                                <option th:unless="${prevYear == year}" th:id="'year' + ${i.count}" th:value="${year}"
                                    th:text="${year}"></option>
                            </th:block>
                        </select>
                    </form>

                    <form action="/statistics/specific">
                        <input type="hidden" name="year" id="week-form-year">
                        <select name="week" id="">
                            <th:block th:each="week, i : ${weeks}">
                                <option th:if="${prevWeek == week}" th:id="weekSelected" th:value="${week}"
                                    th:text="${week}" selected></option>
                                <option th:unless="${prevWeek == week}" th:id="'week' + ${i.count}" th:value="${week}"
                                    th:text="${week}"></option>
                            </th:block>
                        </select>

                        <button class="btn btn-primary btn-sm" id="week-form-submit" type="submit"> change </button>
                    </form>
                </div>
                <div class="bar-wrapper">
                    <canvas id="bar-chart-week"></canvas>
                </div>
            </div>
        </div>

    </div>

    <script th:inline="javascript">
        var times = [[${ times }]];
        var weekTime = [[${ weekTime }]];
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/script/chart.js"></script>
    <script src="/script/statistics.js"></script>
</body>

</html>